<header class="header">
    <div class="header__container">
        <div class="logo__container">
            <img src="img/coronavirus.png" alt="" class="logo__img">
            <h1 class="logo__title"> {{title}} </h1>
        </div>
        <nav class="topnav">
            <ul class="topnav__list">
                <li class="topnav__item"><a href="/">Home</a></li>
                <li class="topnav__item"><a href="/search">Search</a></li>
                <li class="topnav__item"><a href="/help">Help</a></li>
            </ul>
        </nav>
    </div>
</header>